


html,body
{
background-color: lightgrey;
max-width: 100%;
padding:0;
margin:0, auto;
overflow-x: hidden;
}



#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}



#logo:hover,
input[type=submit]:hover {
  background: #5e7f7e;
}

nav a:hover {
  color: #5e7f7e;
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}


nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}







/*To prevent icons of the connect_with_me from spilling out of the container */
.jumbotron{
overflow: hidden;
padding:130px;
margin:15px;

}


.jumbotron img

{

float:left;
padding:5px;


}

#connect_with_me
{
padding-right: :10px;
padding-left: 10px;
}



.jumbotron h4

{

font-size: 25px;
color:green;
font-weight: bold;
padding:10px;

}


.jumbotron p

{

font-size: 15px;

}

#connect_with_me .jumbotron img .img-responsive
{
overflow:hidden;
position:fixed;
}


#portfolio_pics{

padding:8px;
}


#portfolio_pics .jumbotron h2 {
color:green;
}

.navbar-fixed-bottom {
 color:darkgray;
 display:block;
 font-family: Trebuchet;
 font-size:16px;
 text-align: center;
 padding: 0.3em ;
 background: teal;}

 
